@import "../../styles/styles.scss";

.howDoWeDoIt {
  @include flex_center;
  height: 50vh;

  &__graphic {
    background: url("../../assets/agile_marketing.svg") no-repeat;
    background-size: contain;
    height: 300px;
    width: 600px;
  }

  &__content {
    width: 35%;

    span {
      @include slanted_text;
      background: $blue-light;
      color: $white;
      padding: 0 2rem 0 0.5rem;
    }

    p {
      text-align: right;
      font-size: 1.2rem;
      line-height: 2rem;
      width: 60%;
      margin: auto;
    }
  }
}
