@import "../../styles/styles.scss";

.howDoWeDoIt {
  display: grid;
  grid-template-columns: 55% 45%;
  align-items: center;

  @include phone {
    height: 100%;
    grid-template-columns: 1fr;
  }

  &__graphic {
    img {
      width: 100%;
    }

    @include phone {
      order: 2;
    }
  }

  &__content {
    span {
      @include slanted_text;
      background: $blue-light;
      color: $white;
      padding: 0 2rem 0 0.5rem;
    }

    p {
      text-align: right;
      font-size: 1.2rem;
      line-height: 2rem;
      width: 70%;
      margin: auto;
    }

    @include phone {
      order: 1;
    }
  }
}
