@import "../../styles/styles.scss";

.ourServices {
  height: 70vh;

  @include phone {
    height: 100%;
  }

  span {
    @include slanted_text;
    background: $yellow;
    padding: 0 3.5rem 0 1rem;
  }

  &__card_item {
    display: grid;
    grid-template-rows: 50% 20% 30%;

    img {
      margin: auto;
      height: 200px;
    }
  }
}
.cards_container {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  margin: auto;

  @include phone {
    grid-template-columns: 1fr;
  }

  h3,
  p {
    text-align: center;
    margin: auto;
  }

  h3 {
    @include flex_center;
    color: $yellow;
    font-size: 2rem;
    height: 80px;
    width: 55%;
  }

  p {
    font-size: 1.3rem;
    width: 65%;
    margin-top: 0.5rem;
  }
}
