@import "../../styles/styles.scss";

.whyChooseUs {
  display: grid;
  grid-template-columns: 40% 60%;

  @include phone {
    grid-template-columns: 1fr;
    height: 100%;
  }

  @include tablet {
    grid-template-columns: 1fr;
  }

  &__content {
    span {
      @include slanted_text;
      background: $blue-light;
      color: $white;
      padding: 0 2rem 0 0.5rem;

      @include phone {
        padding: 0.1rem 2rem 0.1rem 0.5rem;
      }
    }

    p {
      margin: 0 auto;
      line-height: 2rem;
      width: 80%;
    }

    li {
      &::before {
        padding-inline: 1rem;
        margin-inline: 1rem;
      }

      &::marker {
        content: "⬤ ";
        vertical-align: middle;
        padding-inline: 1rem;
      }

      &::after {
        margin-left: 10px;
      }
    }

    p,
    li {
      text-align: left;
      font-size: 1.3rem;
      vertical-align: middle;

      @include tablet {
        text-align: center;
        width: 100%;
      }
    }

    ul {
      line-height: 3rem;
      padding-left: 5rem;
      list-style-position: inside;

      @include tablet {
        padding: 0;
      }
    }
  }

  &__graphic {
    img {
      width: 100%;
    }
  }

  &__advantages {
    list-style-type: square;
  }
}
