@import "../../styles/styles.scss";

.header {
  background: url("../../assets/header_background.svg") no-repeat;
  background-size: contain;
  flex-direction: column;
  height: 100vh;
  min-height: 100%;
  background-position-y: -50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;

  @include desktop_hd {
    background-position-y: -70px;
  }

  @include desktop {
    background-position-y: -65px;
  }

  @include tablet {
    background-position-y: 0;
  }

  @include phone {
    background-position-y: 0;
    height: 100%;
  }

  &__heroImage {
    img {
      width: 100%;
    }

    @include phone {
      order: 1;
      width: 90%;
    }
  }

  &__description {
    text-align: left;
    line-height: 3rem;

    @include phone {
      width: 90%;
      margin: auto;
    }

    &_mainTitle {
      font-size: 2rem;
      font-weight: bold;

      @include phone {
        font-size: 1.5rem;
      }
    }

    span,
    button {
      background: $pink;
      color: $white;
    }

    span {
      @include slanted_text;
      margin-top: 0.3rem;

      &:first-child {
        padding: 0 1rem 0 2rem;
        margin-left: -2rem;
      }

      &:last-child {
        padding: 0 2rem 0 3rem;
        margin-left: -3rem;
      }
    }

    button {
      border-radius: 10px;
      text-transform: uppercase;
      border: 2px solid transparent;
      display: block;
      font-size: 1.5rem;
      margin: 4rem auto 0;
      padding: 5px 0;
      width: 60%;
      box-shadow: 0px 4px 5px -2px $black-shadow;
      -webkit-box-shadow: 0px 4px 5px -2px $black-shadow;
      -moz-box-shadow: 0px 4px 5px -2px $black-shadow;

      &:hover {
        background: $white;
        border-color: $primaryColor;
        transition: all 0.3s ease-in-out;
        color: $primaryColor;
      }

      @include phone {
        display: none;
      }
    }
  }

  &__content {
    display: grid;
    margin-top: 5rem;
    gap: 4rem;
    grid-template-columns: repeat(2, 50%);

    @include phone {
      grid-template-rows: auto auto;
      margin: 0;
      gap: 1rem;
      grid-template-columns: 1fr;
    }
  }
}
