@import "../../styles/styles.scss";

.navbar {
  align-items: center;
  display: flex;
  justify-content: space-around;
  position: absolute;
  color: $white;
  top: 0;
  padding: 2rem 0;
  width: 100%;

  @include phone {
    background: $black;
    justify-content: space-between;
    padding: 1rem 0;
  }

  @include tablet {
    background: $black;
  }

  &__logo {
    @include phone {
      width: 30%;
      margin-left: 1.5rem;
      order: -1;
    }

    img {
      width: 100%;
    }
  }

  &__options {
    display: flex;
    list-style: none;
    padding: 0;

    @include phone {
      flex-direction: column;
      margin-right: 1rem;
    }

    &_item {
      font-style: italic;
      font-size: 1.3rem;

      @include phone {
        display: none;
      }

      &:not(:nth-child(4)) {
        margin-right: 2rem;
      }

      a {
        text-decoration: none;
        color: $white;
      }
    }
  }

  &__burger {
    &_menu {
      order: 2;
      display: none;
      margin-right: 1.5rem;

      @include phone {
        display: block;
      }
    }

    &_line {
      width: 35px;
      height: 3px;
      background: $white;

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }

  @include phone {
    display: flex;

    order: 2;
  }
}

input[type="checkbox"] {
  display: none;
}
