@import "../../styles/styles.scss";

.testimonials {
  span {
    @include slanted_text;
    background: $purple;
    color: $white;
    padding: 0 2.5rem 0 0.5rem;

    @include phone {
      padding: 0.1rem 2.5rem 0.1rem 0.5rem;
    }
  }

  h4 {
    margin-left: 4rem;

    @include phone {
      width: 50%;
      margin: 0;
      padding: 1rem 0 1rem 4rem;
    }
  }

  p {
    width: 90%;
    margin: auto;

    @include phone {
      font-size: 0.9rem;
      width: 70%;
    }

    @include tablet {
      width: 75%;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 40% 60%;

    @include phone {
      grid-template-columns: 1fr;
    }

    @include tablet {
      grid-template-columns: 1fr;
    }
  }

  &__image {
    img {
      width: 100%;
    }
  }

  &__comments {
    display: grid;
    grid-template-rows: repeat(2, 150px);
    grid-template-columns: repeat(2, 50%);
    background-size: contain;
    gap: 1rem;
    list-style: none;
    padding: 0;

    @include phone {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, auto);
      gap: 0.5rem;
      width: 85%;
      margin: auto;
    }

    &_item {
      border: 1px solid $black;
      padding: 0.3rem;
      // background: url("../../assets/comment.svg") no-repeat;
    }
  }
}
